html {
    height: 100%;
}

body {
    height: 100%;
    font-family: 'Merriweather Sans', sans-serif;
}

/*MENU*/
nav {
    background-color: #cdacac;
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    padding-left: 400px;
    padding-right: 400px;
}

nav a {
    font-size: 15px;
    text-decoration: none;
    color: #fdf6fd;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}

@media only screen and (max-width: 1120px) {
    nav {
        flex-direction: column;
        padding: 10px;
    }
}

/*_________*/


/*Forside*/
#splash {
    background-image: url(splash.svg);
    width: 100%;
    height: 110%;
    background-size: cover;
}




/*________________*/

/*Om_CV_side*/

.sectionwrapper {
    display: flex;
    padding-top: 20px;
}

@media only screen and (max-width: 800px) {
    .sectionwrapper {
        flex-wrap: wrap;
    }
}

.col1 {
    flex-basis: 650px;
}

.col2 {
    flex-basis: 650px;
    padding-left: 20px;
}

.col1 img {
    width: 100%;
}

/*Menu_CV*/

.om {
    padding-bottom: 20px;
}

/*______*/
